<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843815917504-phjkp7fiubnmn8d2b00q4580bf3a7j8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843815917504-phjkp7fiubnmn8d2b00q4580bf3a7j8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843815917504-sae96ke6ac513401irjv0j7thbfsgp01.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPw-MsLWY4Qq7wyCgQtxX8bftfqLljENE</string>
	<key>GCM_SENDER_ID</key>
	<string>843815917504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveeasy.huynl</string>
	<key>PROJECT_ID</key>
	<string>liveeasy-e6c40</string>
	<key>STORAGE_BUCKET</key>
	<string>liveeasy-e6c40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843815917504:ios:328f7023e8469e1f871a25</string>
	<key>DATABASE_URL</key>
	<string>https://liveeasy-e6c40.firebaseio.com</string>
</dict>
</plist>